<section>
  <h1>Categories</h1>
  <ul id="categories">
  	<li><a href="{{ root_url }}/category/server-configuration/">Server Configuration</a></li>
  	<li><a href="{{ root_url }}/category/general-configuration/">General Configuration</a></li>
	<li><a href="{{ root_url }}/category/application-specific-configuration/">Application-specific Configuration</a></li>
  	<li><a href="{{ root_url }}/category/new-releases/">New Releases</a></li>
        <li><a href="{{ root_url }}/category/general/">General</a></li>
  </ul>
</section>
